{
  "openapi": "3.0.1",
  "info": {
    "title": "Aruba.BaremetalProvider.Api",
    "description": "Aruba.BaremetalProvider.Api\n\n\nDownload the <a href=\"/openapi/baremetal-provider.json\" target=\"_blank\"> OpenAPI file</a>",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.arubacloud.com"
    }
  ],
  "paths": {
    "/projects/{projectId}/providers/Aruba.Baremetal/hpcs": {
      "post": {
        "tags": [
          "HPCs"
        ],
        "summary": "Create HPC",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.AsyncExecInitDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.AsyncExecInitDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.AsyncExecInitDto"
                }
              }
            }
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      },
      "get": {
        "tags": [
          "HPCs"
        ],
        "summary": "List HPC",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCListResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCListResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCListResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    },
    "/projects/{projectId}/providers/Aruba.Baremetal/hpcs/monitor/{id}": {
      "get": {
        "tags": [
          "HPCs"
        ],
        "summary": "Check HPC creation status",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.AsyncExecStatusDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.AsyncExecStatusDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.AsyncExecStatusDto"
                }
              }
            }
          },
          "303": {
            "description": "See Other"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    },
    "/projects/{projectId}/providers/Aruba.Baremetal/hpcs/{id}": {
      "get": {
        "tags": [
          "HPCs"
        ],
        "summary": "Get HPC",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calculatePrices",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    },
    "/projects/{projectId}/providers/Aruba.Baremetal/hpcs/{id}/services": {
      "get": {
        "tags": [
          "HPCs"
        ],
        "summary": "Get HPC services",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCListContentResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCListContentResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCListContentResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    },
    "/projects/{projectId}/providers/Aruba.Baremetal/hpcs/{id}/name": {
      "put": {
        "tags": [
          "HPCs"
        ],
        "summary": "Rename HPC",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.RenameDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.RenameDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.RenameDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    },
    "/projects/{projectId}/providers/Aruba.Baremetal/hpcs/{id}/automaticrenew": {
      "put": {
        "tags": [
          "HPCs"
        ],
        "summary": "Set HPC automatic renew",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SetAutomaticRenewDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SetAutomaticRenewDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SetAutomaticRenewDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    }
  },
  "components": {
    "schemas": {
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.AsyncExecInitDto": {
        "type": "object",
        "properties": {
          "monitorUri": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "description": "A result of the initialization of an asynchronous execution, containing the monitor URI to check the status of the execution."
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.AsyncExecStatusDto": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Models.AsyncExecStatus"
          },
          "resourceUri": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "description": "DTO for returning the status of an asynchronous execution, along with an optional resource URI \r\nthat can be used to check the status or retrieve results."
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Firewalls.FirewallCatalogItemResponseDto": {
        "type": "object",
        "properties": {
          "isSoldOut": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "mode": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "discountedPrice": {
            "type": "number",
            "format": "double"
          },
          "setupFeePrice": {
            "type": "number",
            "format": "double"
          },
          "location": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Firewalls.FirewallCatalogResponseDto": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "self": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Firewalls.FirewallCatalogItemResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Firewalls.FirewallListResponseDto": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "self": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Firewalls.FirewallResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Firewalls.FirewallPropertiesResponseDto": {
        "type": "object",
        "properties": {
          "linkedResources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.LinkedResourceResponseDto"
            }
          },
          "admin": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "dueDate": {
            "type": "string",
            "format": "date-time"
          },
          "activationDate": {
            "type": "string",
            "format": "date-time"
          },
          "monthlyUnitPrice": {
            "type": "number",
            "format": "double"
          },
          "showVat": {
            "type": "boolean"
          },
          "autoRenewEnabled": {
            "type": "boolean"
          },
          "autoRenewAllowed": {
            "type": "boolean"
          },
          "autoRenewDeviceId": {
            "type": "string"
          },
          "renewMonths": {
            "type": "integer",
            "format": "int64"
          },
          "renewAllowed": {
            "type": "boolean"
          },
          "folders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ipAddress": {
            "type": "string"
          },
          "configurationMode": {
            "type": "string"
          },
          "bundleProjectName": {
            "type": "string"
          },
          "bundleCode": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Firewalls.FirewallResponseDto": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.MetadataResponseDto"
          },
          "status": {
            "$ref": "#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.StatusResponseDto"
          },
          "properties": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Firewalls.FirewallPropertiesResponseDto"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Firewalls.FirewallVlanDto": {
        "type": "object",
        "properties": {
          "vlanID": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Firewalls.FirewallVlanResponseDto": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "self": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Firewalls.FirewallVlanDto"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCBackupDetailsDto": {
        "type": "object",
        "properties": {
          "licenses": {
            "type": "integer",
            "format": "int32"
          },
          "storages": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false,
        "description": "DTO representing the details of the backup configuration for the HPC, including the number of licenses and \r\nstorage units required for backup."
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCBackupDto": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "details": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCBackupDetailsDto"
          }
        },
        "additionalProperties": false,
        "description": "DTO representing the backup configuration for the HPC, including whether backup is enabled and details about licenses and storage."
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCContentResponseDto": {
        "type": "object",
        "properties": {
          "hpcServiceID": {
            "type": "integer",
            "format": "int32"
          },
          "hpcServiceName": {
            "type": "string"
          },
          "hpcidArticoloServizio": {
            "type": "integer",
            "format": "int32"
          },
          "hpcServiceType": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Providers.Models.Legacy.Bundle.BundleServiceModuleType"
          },
          "hpcServiceStatus": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Providers.Models.Legacy.Bundle.BundleServiceStatuses"
          },
          "hpcServiceTypeCategory": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Providers.Models.Legacy.Bundle.BundleServiceTypeCategories"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCDisasterRecoveryDetailsDto": {
        "type": "object",
        "properties": {
          "managers": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false,
        "description": "DTO representing the details of the disaster recovery configuration for the HPC, including the number of managers required."
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCDisasterRecoveryDto": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "details": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCDisasterRecoveryDetailsDto"
          }
        },
        "additionalProperties": false,
        "description": "DTO representing the disaster recovery configuration for the HPC, including whether disaster recovery is\r\nenabled and details about the number of managers required."
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCDto": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/MetadataDtoV2"
          },
          "properties": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCPropertiesDto"
          }
        },
        "additionalProperties": false,
        "description": "DTO representing a HPC (High Performance Computing) resource, including its properties and configuration details.\r\nThis DTO is used in the API by client to create HPC resources."
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCFirewallDto": {
        "type": "object",
        "properties": {
          "sku": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "description": "DTO representing the firewall configuration for the HPC, including SKU information."
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCListContentResponseDto": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "self": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCContentResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCListResponseDto": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "self": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCLoadBalancerDto": {
        "type": "object",
        "properties": {
          "sku": {
            "type": "string"
          },
          "replicas": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false,
        "description": "DTO representing the load balancer configuration for the HPC, including SKU and number of replicas."
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCManagementDto": {
        "type": "object",
        "properties": {
          "notes": {
            "type": "string"
          },
          "backup": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCBackupDto"
          },
          "disasterRecovery": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCDisasterRecoveryDto"
          },
          "premiumAssistance": {
            "type": "boolean"
          }
        },
        "additionalProperties": false,
        "description": "DTO representing the management options for the HPC, including notes, backup configuration, disaster recovery settings,"
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCNetworkDto": {
        "type": "object",
        "properties": {
          "publicSize": {
            "type": "integer",
            "format": "int32"
          },
          "bandwidth": {
            "type": "string"
          },
          "multiCloudLink": {
            "type": "boolean"
          },
          "mobileVpnEnabled": {
            "type": "boolean"
          },
          "loadBalancer": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCLoadBalancerDto"
          }
        },
        "additionalProperties": false,
        "description": "DTO representing the network configuration for the HPC, including public IP size, bandwidth, multi-cloud link capability,\r\nmobile VPN support, and load balancer details."
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCNodeDto": {
        "type": "object",
        "properties": {
          "sku": {
            "type": "string"
          },
          "os": {
            "type": "string"
          },
          "replicas": {
            "type": "integer",
            "format": "int32"
          },
          "storage": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCStorageDto"
          },
          "ram": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCRamDto"
          }
        },
        "additionalProperties": false,
        "description": "DTO representing the specifications of the HPC nodes, including SKU, operating system, number of replicas,\r\nstorage details, and RAM configuration."
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCPropertiesDto": {
        "type": "object",
        "properties": {
          "linkedResources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.LinkedResourceResponseDto"
            }
          },
          "node": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCNodeDto"
          },
          "network": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCNetworkDto"
          },
          "firewall": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCFirewallDto"
          },
          "management": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCManagementDto"
          }
        },
        "additionalProperties": false,
        "description": "DTO which encapsulates all relevant information about the HPC, such as node specifications, \r\nnetwork configuration, firewall settings, and management options."
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCPropertiesResponseDto": {
        "type": "object",
        "properties": {
          "linkedResources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.LinkedResourceResponseDto"
            }
          },
          "admin": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "dueDate": {
            "type": "string",
            "format": "date-time"
          },
          "activationDate": {
            "type": "string",
            "format": "date-time"
          },
          "autoRenewEnabled": {
            "type": "boolean"
          },
          "autoRenewDeviceId": {
            "type": "string"
          },
          "renewAllowed": {
            "type": "boolean"
          },
          "folders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ipAddress": {
            "type": "string"
          },
          "configurationMode": {
            "type": "string"
          },
          "showVat": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCRamDto": {
        "type": "object",
        "properties": {
          "size": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false,
        "description": "DTO representing the RAM configuration for HPC nodes, including size in GB.\r\nThis is optional as some SKUs may not require explicit RAM configuration."
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCResponseDto": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.MetadataResponseDto"
          },
          "status": {
            "$ref": "#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.StatusResponseDto"
          },
          "properties": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCPropertiesResponseDto"
          },
          "numServices": {
            "type": "integer",
            "format": "int32"
          },
          "monthlyUnitPrice": {
            "type": "number",
            "format": "double"
          },
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCContentResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Hpcs.HPCStorageDto": {
        "type": "object",
        "properties": {
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "replicas": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false,
        "description": "DTO representing the storage configuration for HPC nodes, including size and number of replicas."
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Internal.AutorenewDto": {
        "type": "object",
        "properties": {
          "projectIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "autoRenewData": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.UpsertAutomaticRenewDto"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Internal.BaseLegacyResourceResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "dueDate": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "typologyId": {
            "type": "string"
          },
          "billingPeriod": {
            "type": "string"
          },
          "monthlyUnitPrice": {
            "type": "number",
            "format": "double"
          },
          "autoRenewEnabled": {
            "type": "boolean"
          },
          "autoRenewMonths": {
            "type": "integer",
            "format": "int64"
          },
          "autoRenewDeviceId": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Internal.GetResoucesDto": {
        "type": "object",
        "properties": {
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Internal.LegacyResourceIdDto"
            }
          },
          "getPrices": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Internal.LegacyResourceIdDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "typologyId": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Internal.LegacyResourceResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "dueDate": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "typologyId": {
            "type": "string"
          },
          "billingPeriod": {
            "type": "string"
          },
          "monthlyUnitPrice": {
            "type": "number",
            "format": "double"
          },
          "autoRenewEnabled": {
            "type": "boolean"
          },
          "autoRenewMonths": {
            "type": "integer",
            "format": "int64"
          },
          "autoRenewDeviceId": {
            "type": "string"
          },
          "uri": {
            "type": "string"
          },
          "showVat": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Internal.ProjectsAutonewStatusDto": {
        "type": "object",
        "properties": {
          "projectIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Internal.ResourceProjectDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "serviceId": {
            "type": "string"
          },
          "serviceName": {
            "type": "string"
          },
          "serviceTypeId": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "ownerId": {
            "type": "string"
          },
          "createdBy": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "updateDate": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.IpAddressDto": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "hostNames": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Mcis.MCIContentResponseDto": {
        "type": "object",
        "properties": {
          "mciServiceID": {
            "type": "integer",
            "format": "int32"
          },
          "mciServiceName": {
            "type": "string"
          },
          "mciServiceType": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Providers.Models.Legacy.Bundle.BundleServiceModuleType"
          },
          "mciServiceStatus": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Providers.Models.Legacy.Bundle.BundleServiceStatuses"
          },
          "mciServiceTypeCategory": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Providers.Models.Legacy.Bundle.BundleServiceTypeCategories"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Mcis.MCIListContentResponseDto": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "self": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Mcis.MCIContentResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Mcis.MCIListResponseDto": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "self": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Mcis.MCIResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Mcis.MCIPropertiesResponseDto": {
        "type": "object",
        "properties": {
          "linkedResources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.LinkedResourceResponseDto"
            }
          },
          "admin": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "dueDate": {
            "type": "string",
            "format": "date-time"
          },
          "activationDate": {
            "type": "string",
            "format": "date-time"
          },
          "autoRenewEnabled": {
            "type": "boolean"
          },
          "autoRenewDeviceId": {
            "type": "string"
          },
          "renewAllowed": {
            "type": "boolean"
          },
          "folders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ipAddress": {
            "type": "string"
          },
          "configurationMode": {
            "type": "string"
          },
          "showVat": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Mcis.MCIResponseDto": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.MetadataResponseDto"
          },
          "status": {
            "$ref": "#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.StatusResponseDto"
          },
          "properties": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Mcis.MCIPropertiesResponseDto"
          },
          "numServices": {
            "type": "integer",
            "format": "int32"
          },
          "monthlyUnitPrice": {
            "type": "number",
            "format": "double"
          },
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Mcis.MCIContentResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Payments.PaymentMetadataResponseDto": {
        "type": "object",
        "properties": {
          "purchaseUrl": {
            "type": "string"
          },
          "renewUrl": {
            "type": "string"
          },
          "renewAndUpgradeUrl": {
            "type": "string"
          },
          "renewAndUpgradeSmartStorageAndSwaasUrl": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "sddTimeLimit": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Payments.PaymentMethodResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Providers.Models.Legacy.Payments.LegacyPaymentType"
          },
          "value": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.RenameDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Servers.ServerCatalogItemResponseDto": {
        "type": "object",
        "properties": {
          "isSoldOut": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "processor": {
            "type": "string"
          },
          "ram": {
            "type": "string"
          },
          "hdd": {
            "type": "string"
          },
          "connectivity": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "discountedPrice": {
            "type": "number",
            "format": "double"
          },
          "setupFeePrice": {
            "type": "number",
            "format": "double"
          },
          "location": {
            "type": "string"
          },
          "serverName": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Servers.ServerCatalogResponseDto": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "self": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Servers.ServerCatalogItemResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Servers.ServerComponentResponseDto": {
        "type": "object",
        "properties": {
          "linkedResources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.LinkedResourceResponseDto"
            }
          },
          "name": {
            "type": "string"
          },
          "quantity": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Servers.ServerListResponseDto": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "self": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Servers.ServerResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Servers.ServerMetadataResponseDto": {
        "type": "object",
        "properties": {
          "frameworkAiGuides": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Servers.ServerPleskLicenseResponseAddonDto": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "activationDate": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Servers.ServerPleskLicenseResponseDto": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "activationDate": {
            "type": "string",
            "format": "date-time"
          },
          "serverIp": {
            "type": "string"
          },
          "activationCode": {
            "type": "string"
          },
          "addons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Servers.ServerPleskLicenseResponseAddonDto"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Servers.ServerPropertiesResponseDto": {
        "type": "object",
        "properties": {
          "linkedResources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.LinkedResourceResponseDto"
            }
          },
          "model": {
            "type": "string"
          },
          "processor": {
            "type": "string"
          },
          "operatingSystem": {
            "type": "string"
          },
          "ram": {
            "type": "string"
          },
          "gpu": {
            "type": "string"
          },
          "hdd": {
            "type": "string"
          },
          "ipAddress": {
            "type": "string"
          },
          "dueDate": {
            "type": "string",
            "format": "date-time"
          },
          "activationDate": {
            "type": "string",
            "format": "date-time"
          },
          "pleskLicense": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Servers.ServerPleskLicenseResponseDto"
          },
          "monthlyUnitPrice": {
            "type": "number",
            "format": "double"
          },
          "showVat": {
            "type": "boolean"
          },
          "autoRenewEnabled": {
            "type": "boolean"
          },
          "autoRenewAllowed": {
            "type": "boolean"
          },
          "autoRenewDeviceId": {
            "type": "string"
          },
          "renewMonths": {
            "type": "integer",
            "format": "int64"
          },
          "renewAllowed": {
            "type": "boolean"
          },
          "upgradeAllowed": {
            "type": "boolean"
          },
          "renewUpgradeAllowed": {
            "type": "boolean"
          },
          "modelTypeCode": {
            "type": "string"
          },
          "originalName": {
            "type": "string"
          },
          "serverName": {
            "type": "string"
          },
          "bundleProjectName": {
            "type": "string"
          },
          "bundleCode": {
            "type": "string"
          },
          "idArticoloServizio": {
            "type": "integer",
            "format": "int32"
          },
          "folders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "components": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Servers.ServerComponentResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Servers.ServerResponseDto": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.MetadataResponseDto"
          },
          "status": {
            "$ref": "#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.StatusResponseDto"
          },
          "properties": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Servers.ServerPropertiesResponseDto"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SetAutomaticRenewDto": {
        "type": "object",
        "properties": {
          "paymentMethodId": {
            "type": "string"
          },
          "months": {
            "type": "integer",
            "format": "int32"
          },
          "activate": {
            "type": "boolean"
          },
          "actionOnFolder": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Models.Enums.AutorenewFolderAction"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SmartStorages.ScheduleDto": {
        "type": "object",
        "properties": {
          "minutes": {
            "type": "integer",
            "format": "int32"
          },
          "hours": {
            "type": "integer",
            "format": "int32"
          },
          "dayOfMonth": {
            "type": "integer",
            "format": "int32"
          },
          "month": {
            "type": "integer",
            "format": "int32"
          },
          "dayOfWeek": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SmartStorages.SmartStorageActivateDto": {
        "type": "object",
        "properties": {
          "password": {
            "type": "string"
          },
          "confirmPassword": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SmartStorages.SmartStorageCatalogItemResponseDto": {
        "type": "object",
        "properties": {
          "isSoldOut": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "snapshot": {
            "type": "string"
          },
          "replica": {
            "type": "boolean"
          },
          "price": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SmartStorages.SmartStorageCatalogResponseDto": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "self": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SmartStorages.SmartStorageCatalogItemResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SmartStorages.SmartStorageChangePasswordDto": {
        "type": "object",
        "properties": {
          "password": {
            "type": "string"
          },
          "confirmPassword": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SmartStorages.SmartStorageCreateFolderDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SmartStorages.SmartStorageCreateSnapshotDto": {
        "type": "object",
        "properties": {
          "folderName": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SmartStorages.SmartStorageCreateSnapshotTaskDto": {
        "type": "object",
        "properties": {
          "folderName": {
            "type": "string"
          },
          "lifeTimeUnitType": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Models.SmartStorages.SnapshotLifeTimeUnitTypes"
          },
          "quantity": {
            "type": "integer",
            "format": "int32"
          },
          "enabled": {
            "type": "boolean"
          },
          "minute": {
            "type": "integer",
            "format": "int32"
          },
          "hour": {
            "type": "integer",
            "format": "int32"
          },
          "daysOfMonth": {
            "type": "integer",
            "format": "int32"
          },
          "month": {
            "type": "integer",
            "format": "int32"
          },
          "dayOfWeek": {
            "$ref": "#/components/schemas/System.DayOfWeek"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SmartStorages.SmartStorageEnableProtocolDto": {
        "type": "object",
        "properties": {
          "serviceType": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Models.SmartStorages.ServiceType"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SmartStorages.SmartStorageFoldersItemResponseDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "smartFolderID": {
            "type": "string"
          },
          "positionDisplay": {
            "type": "string"
          },
          "usedSpace": {
            "type": "string"
          },
          "availableSpace": {
            "type": "string"
          },
          "readonly": {
            "type": "boolean"
          },
          "isRootFolder": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SmartStorages.SmartStorageListResponseDto": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "self": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SmartStorages.SmartStorageResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SmartStorages.SmartStorageMetadataResponseDto": {
        "type": "object",
        "properties": {
          "smartStorageAiGuides": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SmartStorages.SmartStoragePropertiesResponseDto": {
        "type": "object",
        "properties": {
          "linkedResources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.LinkedResourceResponseDto"
            }
          },
          "package": {
            "type": "string"
          },
          "replica": {
            "type": "boolean"
          },
          "username": {
            "type": "string"
          },
          "server": {
            "type": "string"
          },
          "samba": {
            "type": "string"
          },
          "activationDate": {
            "type": "string",
            "format": "date-time"
          },
          "dueDate": {
            "type": "string",
            "format": "date-time"
          },
          "monthlyUnitPrice": {
            "type": "number",
            "format": "double"
          },
          "showVat": {
            "type": "boolean"
          },
          "autoRenewEnabled": {
            "type": "boolean"
          },
          "renewAllowed": {
            "type": "boolean"
          },
          "upgradeAllowed": {
            "type": "boolean"
          },
          "autoRenewDeviceId": {
            "type": "string"
          },
          "renewMonths": {
            "type": "integer",
            "format": "int64"
          },
          "isFirstSetupDone": {
            "type": "boolean"
          },
          "folders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SmartStorages.SmartStorageResponseDto": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.MetadataResponseDto"
          },
          "status": {
            "$ref": "#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.StatusResponseDto"
          },
          "properties": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SmartStorages.SmartStoragePropertiesResponseDto"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SmartStorages.SmartStorageSnapshotsResponseDto": {
        "type": "object",
        "properties": {
          "usedSnapshots": {
            "type": "integer",
            "format": "int32"
          },
          "totalSnapshots": {
            "type": "integer",
            "format": "int32"
          },
          "availableSnapshots": {
            "type": "integer",
            "format": "int32"
          },
          "snapshots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SmartStorages.SnapshotDto"
            }
          },
          "snapshotTasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SmartStorages.SnapshotTasksDto"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SmartStorages.SmartStorageUpdateSnapshotTaskDto": {
        "type": "object",
        "properties": {
          "enable": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SmartStorages.SnapshotDto": {
        "type": "object",
        "properties": {
          "snapshotId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "smartFolderName": {
            "type": "string"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          },
          "size": {
            "type": "string"
          },
          "referencedSize": {
            "type": "string"
          },
          "rawSize": {
            "type": "integer",
            "format": "int64"
          },
          "rawReferencedSize": {
            "type": "integer",
            "format": "int64"
          },
          "manualSnapshot": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SmartStorages.SnapshotTasksDto": {
        "type": "object",
        "properties": {
          "snapshotTaskId": {
            "type": "integer",
            "format": "int32"
          },
          "smartFolderName": {
            "type": "string"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          },
          "enabled": {
            "type": "boolean"
          },
          "iterations": {
            "type": "integer",
            "format": "int32"
          },
          "scheduleType": {
            "type": "string"
          },
          "schedule": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.SmartStorages.ScheduleDto"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Swaases.LinkableServiceResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "typology": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Swaases.SwaasCatalogItemResponseDto": {
        "type": "object",
        "properties": {
          "isSoldOut": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "networksCount": {
            "type": "integer",
            "format": "int32"
          },
          "linkedDevicesCount": {
            "type": "integer",
            "format": "int32"
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "discountedPrice": {
            "type": "number",
            "format": "double"
          },
          "setupFeePrice": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Swaases.SwaasCatalogResponseDto": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "self": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Swaases.SwaasCatalogItemResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Swaases.SwaasListResponseDto": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "self": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Swaases.SwaasResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Swaases.SwaasPropertiesResponseDto": {
        "type": "object",
        "properties": {
          "linkedResources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.LinkedResourceResponseDto"
            }
          },
          "admin": {
            "type": "string"
          },
          "dueDate": {
            "type": "string",
            "format": "date-time"
          },
          "activationDate": {
            "type": "string",
            "format": "date-time"
          },
          "model": {
            "type": "string"
          },
          "reply": {
            "type": "boolean"
          },
          "monthlyUnitPrice": {
            "type": "number",
            "format": "double"
          },
          "showVat": {
            "type": "boolean"
          },
          "autoRenewEnabled": {
            "type": "boolean"
          },
          "autoRenewAllowed": {
            "type": "boolean"
          },
          "renewAllowed": {
            "type": "boolean"
          },
          "upgradeAllowed": {
            "type": "boolean"
          },
          "renewUpgradeAllowed": {
            "type": "boolean"
          },
          "autoRenewDeviceId": {
            "type": "string"
          },
          "renewMonths": {
            "type": "integer",
            "format": "int64"
          },
          "maxAvailability": {
            "type": "integer",
            "format": "int32"
          },
          "maxSizeReached": {
            "type": "boolean"
          },
          "folders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Swaases.SwaasResponseDto": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.MetadataResponseDto"
          },
          "status": {
            "$ref": "#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.StatusResponseDto"
          },
          "properties": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Swaases.SwaasPropertiesResponseDto"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Swaases.VirtualSwitchAddDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "location": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Swaases.VirtualSwitchEditDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Swaases.VirtualSwitchLinkAddDto": {
        "type": "object",
        "properties": {
          "linkedServiceTypology": {
            "type": "string"
          },
          "linkedServiceId": {
            "type": "integer",
            "format": "int64"
          },
          "virtualSwitchId": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Swaases.VirtualSwitchLinkListResponseDto": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "self": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Swaases.VirtualSwitchLinkResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Swaases.VirtualSwitchLinkResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "linkedServiceTypology": {
            "type": "string"
          },
          "linkedServiceName": {
            "type": "string"
          },
          "linkedServiceId": {
            "type": "integer",
            "format": "int64"
          },
          "vlanId": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Models.SwaaSes.VirtualSwitchLinkStatuses"
          },
          "virtualSwitchId": {
            "type": "string"
          },
          "virtualSwitchName": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Swaases.VirtualSwitchListResponseDto": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "self": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Swaases.VirtualSwitchResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Swaases.VirtualSwitchResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Models.SwaaSes.VirtualSwitchStatuses"
          },
          "locationCodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Switches.SwitchCatalogItemResponseDto": {
        "type": "object",
        "properties": {
          "isSoldOut": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "ports": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "discountedPrice": {
            "type": "number",
            "format": "double"
          },
          "setupFeePrice": {
            "type": "number",
            "format": "double"
          },
          "location": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Switches.SwitchCatalogResponseDto": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "self": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Switches.SwitchCatalogItemResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Switches.SwitchListResponseDto": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "self": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Switches.SwitchResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Switches.SwitchPropertiesResponseDto": {
        "type": "object",
        "properties": {
          "linkedResources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.LinkedResourceResponseDto"
            }
          },
          "admin": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "dueDate": {
            "type": "string",
            "format": "date-time"
          },
          "activationDate": {
            "type": "string",
            "format": "date-time"
          },
          "monthlyUnitPrice": {
            "type": "number",
            "format": "double"
          },
          "showVat": {
            "type": "boolean"
          },
          "autoRenewEnabled": {
            "type": "boolean"
          },
          "autoRenewAllowed": {
            "type": "boolean"
          },
          "autoRenewDeviceId": {
            "type": "string"
          },
          "renewMonths": {
            "type": "integer",
            "format": "int64"
          },
          "renewAllowed": {
            "type": "boolean"
          },
          "folders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Switches.SwitchResponseDto": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.MetadataResponseDto"
          },
          "status": {
            "$ref": "#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.StatusResponseDto"
          },
          "properties": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.Switches.SwitchPropertiesResponseDto"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.UpdateProjectDto": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Dtos.UpsertAutomaticRenewDto": {
        "type": "object",
        "properties": {
          "paymentMethodId": {
            "type": "string"
          },
          "months": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Models.AsyncExecStatus": {
        "enum": [
          "InProgress",
          "Succeeded",
          "Failed"
        ],
        "type": "string",
        "description": "Represents the status of an asynchronous execution, which can be in progress, succeeded, or failed."
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Models.Enums.AutorenewFolderAction": {
        "enum": [
          "RemoveFromFolder",
          "DisableSafeFolder"
        ],
        "type": "string"
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Models.Firewalls.FirewallIpAddressList": {
        "type": "object",
        "properties": {
          "totalCount": {
            "type": "integer",
            "description": "Total count",
            "format": "int64"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Models.IpAddress"
            },
            "description": "Values"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Models.Internal.AutorechargeResponse": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "deviceId": {
            "type": "integer",
            "format": "int32"
          },
          "deviceType": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Providers.Models.Legacy.Payments.LegacyPaymentType"
          },
          "creditToAutoRecharge": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Models.Internal.ProjectAutorenewStatus": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Models.Internal.ProjectAutorenewStatuses"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Models.Internal.ProjectAutorenewStatuses": {
        "enum": [
          "NoServices",
          "AllAutorenew",
          "PartialAutorenew"
        ],
        "type": "string"
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Models.Internal.Region": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Models.IpAddress": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Id",
            "format": "int64"
          },
          "ip": {
            "type": "string",
            "description": "Ip"
          },
          "type": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Models.IpAddressTypes"
          },
          "status": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Models.IpAddressStatuses"
          },
          "description": {
            "type": "string",
            "description": "Description"
          },
          "hostNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "HostNames"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Models.IpAddressStatuses": {
        "enum": [
          "Inactive",
          "Updating",
          "Active"
        ],
        "type": "string"
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Models.IpAddressTypes": {
        "enum": [
          "Primary",
          "Management",
          "Additional"
        ],
        "type": "string"
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Models.Servers.ServerIpAddressList": {
        "type": "object",
        "properties": {
          "totalCount": {
            "type": "integer",
            "description": "Total count",
            "format": "int64"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Models.IpAddress"
            },
            "description": "Values"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Models.SmartStorages.ServiceStatus": {
        "enum": [
          "Unknown",
          "Running",
          "Stopped"
        ],
        "type": "string"
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Models.SmartStorages.ServiceType": {
        "enum": [
          "WebDav",
          "Samba",
          "Ssh",
          "ExternalReachability",
          "SnapShotDirectoryDisplay"
        ],
        "type": "string"
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Models.SmartStorages.SmartStorageProtocol": {
        "type": "object",
        "properties": {
          "serviceType": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Models.SmartStorages.ServiceType"
          },
          "serviceStatus": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Models.SmartStorages.ServiceStatus"
          },
          "error": {
            "type": "boolean"
          },
          "errorMessage": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Models.SmartStorages.SmartStorageStatistics": {
        "type": "object",
        "properties": {
          "smartFolders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Models.SmartStorages.StatisticsSmartFolder"
            }
          },
          "snapshots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Models.SmartStorages.StatisticsSnapshot"
            }
          },
          "totalSmartFolders": {
            "type": "integer",
            "format": "int32"
          },
          "totalSmartFoldersSize": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Models.SmartStorages.StatisticsSize"
          },
          "totalSnapshots": {
            "type": "integer",
            "format": "int32"
          },
          "totalSnapshotsSize": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Models.SmartStorages.StatisticsSize"
          },
          "totalDiskSpace": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Models.SmartStorages.StatisticsSize"
          },
          "availableDiskSpace": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Models.SmartStorages.StatisticsSize"
          },
          "reservedDiskSpace": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Models.SmartStorages.StatisticsSize"
          },
          "totalUsedSpace": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Models.SmartStorages.StatisticsSize"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Models.SmartStorages.SnapshotLifeTimeUnitTypes": {
        "enum": [
          "Hourly",
          "Daily",
          "Weekly",
          "Monthly"
        ],
        "type": "string"
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Models.SmartStorages.StatisticsSize": {
        "type": "object",
        "properties": {
          "size": {
            "type": "string"
          },
          "rawSize": {
            "type": "integer",
            "format": "int64"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Models.SmartStorages.StatisticsSmartFolder": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "size": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Models.SmartStorages.StatisticsSize"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Models.SmartStorages.StatisticsSnapshot": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "smartFolderName": {
            "type": "string"
          },
          "size": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Models.SmartStorages.StatisticsSize"
          },
          "referencedSize": {
            "$ref": "#/components/schemas/Aruba.CmpService.BaremetalProvider.Abstractions.Models.SmartStorages.StatisticsSize"
          }
        },
        "additionalProperties": false
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Models.SwaaSes.VirtualSwitchLinkStatuses": {
        "enum": [
          "Activating",
          "Active",
          "Deactivating",
          "Deactivated",
          "ActivationFailed",
          "Suspended",
          "Suspending",
          "Desuspending"
        ],
        "type": "string"
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Models.SwaaSes.VirtualSwitchStatuses": {
        "enum": [
          "Activating",
          "Active",
          "Deactivating",
          "Deactivated",
          "ActivationFailed",
          "Suspended",
          "Suspending",
          "Desuspending"
        ],
        "type": "string"
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Providers.Models.Legacy.Bundle.BundleServiceModuleType": {
        "enum": [
          "Unknown",
          "Server",
          "Switch",
          "Firewall"
        ],
        "type": "string"
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Providers.Models.Legacy.Bundle.BundleServiceStatuses": {
        "enum": [
          "Activating",
          "Active",
          "Suspended",
          "Spianato"
        ],
        "type": "string"
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Providers.Models.Legacy.Bundle.BundleServiceTypeCategories": {
        "enum": [
          "unknown",
          "BaremetalServer",
          "BaremetalSwitch",
          "BaremetalNetwork"
        ],
        "type": "string"
      },
      "Aruba.CmpService.BaremetalProvider.Abstractions.Providers.Models.Legacy.Payments.LegacyPaymentType": {
        "enum": [
          "CreditCard",
          "PayPal",
          "Ingenico",
          "Sdd",
          "Wallet"
        ],
[...]
