{
  "openapi": "3.0.1",
  "info": {
    "title": "Aruba.CmpService.Computing.Api",
    "description": "Aruba.CmpService.Computing.Api HTTP API\n\nDownload the <a href=\"/openapi/compute-provider.json\" target=\"_blank\"> OpenAPI file</a>",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.arubacloud.com"
    }
  ],
  "paths": {
    "/projects/{projectId}/providers/Aruba.Compute/cloudServers": {
      "get": {
        "tags": [
          "CloudServer"
        ],
        "summary": "List CloudServers",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CloudServerListResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudServerListResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudServerListResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      },
      "post": {
        "tags": [
          "CloudServer"
        ],
        "summary": "Create CloudServer",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.1"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudServerDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudServerDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CloudServerDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudServerResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    },
    "/projects/{projectId}/providers/Aruba.Compute/cloudServers/{cloudServerId}": {
      "get": {
        "tags": [
          "CloudServer"
        ],
        "summary": "Get CloudServer",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudServerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudServerResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      },
      "delete": {
        "tags": [
          "CloudServer"
        ],
        "summary": "Delete CloudServer",
        "parameters": [
          {
            "name": "cloudServerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deleteBootVolumeOnCascade",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudServerResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    },
    "/projects/{projectId}/providers/Aruba.Compute/cloudServers/{cloudServerId}/poweron": {
      "post": {
        "tags": [
          "CloudServer"
        ],
        "summary": "Power on CloudServer",
        "parameters": [
          {
            "name": "cloudServerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudServerResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    },
    "/projects/{projectId}/providers/Aruba.Compute/cloudServers/{cloudServerId}/poweroff": {
      "post": {
        "tags": [
          "CloudServer"
        ],
        "summary": "Power off CloudServer",
        "parameters": [
          {
            "name": "cloudServerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudServerResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    },
    "/projects/{projectId}/providers/Aruba.Compute/cloudServers/{cloudServerId}/associateDisassociateSubnets": {
      "post": {
        "tags": [
          "CloudServer"
        ],
        "summary": "Manage Subnets",
        "parameters": [
          {
            "name": "cloudServerId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssociateDisassociateSubnetsDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AssociateDisassociateSubnetsDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AssociateDisassociateSubnetsDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudServerResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    },
    "/projects/{projectId}/providers/Aruba.Compute/cloudServers/{cloudServerId}/associateDisassociateSecurityGroups": {
      "post": {
        "tags": [
          "CloudServer"
        ],
        "summary": "Manage SecurityGroups",
        "parameters": [
          {
            "name": "cloudServerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssociateDisassociateSecurityGroupsDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AssociateDisassociateSecurityGroupsDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AssociateDisassociateSecurityGroupsDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudServerResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    },
    "/projects/{projectId}/providers/Aruba.Compute/cloudServers/{cloudServerId}/associateDisassociateElasticIPs": {
      "post": {
        "tags": [
          "CloudServer"
        ],
        "summary": "Manage ElasticIPs",
        "parameters": [
          {
            "name": "cloudServerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssociateDisassociateElasticIpsDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AssociateDisassociateElasticIpsDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AssociateDisassociateElasticIpsDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudServerResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    },
    "/projects/{projectId}/providers/Aruba.Compute/cloudServers/{cloudServerId}/attachDetachDataVolumes": {
      "post": {
        "tags": [
          "CloudServer"
        ],
        "summary": "Manage DataVolumes",
        "parameters": [
          {
            "name": "cloudServerId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachDetachVolumesDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachDetachVolumesDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AttachDetachVolumesDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudServerResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    },
    "/projects/{projectId}/providers/Aruba.Compute/cloudServers/{cloudServerId}/password": {
      "post": {
        "tags": [
          "CloudServer"
        ],
        "summary": "Set CloudServer password",
        "parameters": [
          {
            "name": "cloudServerId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetPasswordDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SetPasswordDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SetPasswordDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    },
    "/projects/{projectId}/providers/Aruba.Compute/cloudServers/{cloudServerId}/restore": {
      "post": {
        "tags": [
          "CloudServer"
        ],
        "summary": "Restore snapshot from a created volume",
        "parameters": [
          {
            "name": "cloudServerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RestoreFromVolumeDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RestoreFromVolumeDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RestoreFromVolumeDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudServerResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    },
    "/projects/{projectId}/providers/Aruba.Compute/keyPairs": {
      "get": {
        "tags": [
          "KeyPair"
        ],
        "summary": "List KeyPair",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KeyPairResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyPairResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyPairResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      },
      "post": {
        "tags": [
          "KeyPair"
        ],
        "summary": "Create KeyPair",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyPairDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyPairDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KeyPairDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KeyPairResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyPairResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyPairResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    },
    "/projects/{projectId}/providers/Aruba.Compute/keyPairs/{keyPairId}": {
      "get": {
        "tags": [
          "KeyPair"
        ],
        "summary": "Get KeyPair",
        "parameters": [
          {
            "name": "keyPairId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KeyPairResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyPairResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyPairResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      },
      "delete": {
        "tags": [
          "KeyPair"
        ],
        "summary": "Delete KeyPair",
        "parameters": [
          {
            "name": "keyPairId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KeyPairResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyPairResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyPairResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    }
  },
  "components": {
    "schemas": {
      "Addon": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "AddonDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "productName": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "plans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PricingPlanDto"
            }
          },
          "extraInfo": {
            "$ref": "#/components/schemas/ProductExtraInfoDto"
          }
        },
        "additionalProperties": false
      },
      "AssociateDisassociateElasticIpsDto": {
        "type": "object",
        "properties": {
          "elasticIPsToAssociate": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenericResourceDto"
            }
          },
          "elasticIPsToDisassociate": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenericResourceDto"
            }
          }
        },
        "additionalProperties": false
      },
      "AssociateDisassociateSecurityGroupsDto": {
        "type": "object",
        "properties": {
          "securityGroupsToAssociate": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenericResourceDto"
            }
          },
          "securityGroupsToDisassociate": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenericResourceDto"
            }
          }
        },
        "additionalProperties": false
      },
      "AssociateDisassociateSubnetsDto": {
        "type": "object",
        "properties": {
          "subnetsToAssociate": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenericResourceDto"
            }
          },
          "subnetsToDisassociate": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenericResourceDto"
            }
          }
        },
        "additionalProperties": false
      },
      "AttachDetachVolumesDto": {
        "type": "object",
        "properties": {
          "volumesToAttach": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenericResourceDto"
            }
          },
          "volumesToDetach": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenericResourceDto"
            }
          }
        },
        "additionalProperties": false
      },
      "BillingPlanDto": {
        "type": "object",
        "properties": {
          "billingPeriod": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "BillingPlanResponseDto": {
        "type": "object",
        "properties": {
          "billingPeriod": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "CategoryResponseDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "typology": {
            "$ref": "#/components/schemas/TypologyResponseDto"
          }
        },
        "additionalProperties": false
      },
      "CloudServerDtoDeprecated": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "$ref": "#/components/schemas/CloudServerTypologyExtraInfoCategoryDto"
          },
          "location": {
            "$ref": "#/components/schemas/LocationDto"
          },
          "project": {
            "$ref": "#/components/schemas/ProjectDto"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "identity": {
            "$ref": "#/components/schemas/IdentityDto"
          },
          "scope": {
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/CloudServerPropertiesDtoDeprecated"
          }
        },
        "additionalProperties": false
      },
      "CloudServerExtendedDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "$ref": "#/components/schemas/CloudServerTypologyExtraInfoCategoryDto"
          },
          "location": {
            "$ref": "#/components/schemas/LocationDto"
          },
          "project": {
            "$ref": "#/components/schemas/ProjectDto"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "identity": {
            "$ref": "#/components/schemas/IdentityDto"
          },
          "scope": {
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/CloudServerPropertiesDto"
          },
          "resourceConfiguration": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComponentConfigurationDto"
            }
          },
          "relatesTo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RelatesToDto"
            }
          }
        },
        "additionalProperties": false
      },
      "CloudServerExtraInfoProperties": {
        "type": "object",
        "properties": {
          "maxCountSubnet": {
            "type": "integer",
            "format": "int32"
          },
          "maxCountSecurityGroup": {
            "type": "integer",
            "format": "int32"
          },
          "maxCountSnapshot": {
            "type": "integer",
            "format": "int32"
          },
          "maxCountAdditionalIP": {
            "type": "integer",
            "format": "int32"
          },
          "resourceSize": {
            "$ref": "#/components/schemas/ResourceSizeExtraInfo"
          },
          "cloudServerVolume": {
            "$ref": "#/components/schemas/CloudServerVolume"
          }
        },
        "additionalProperties": false
      },
      "CloudServerFlavorDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "cpu": {
            "type": "integer",
            "format": "int32"
          },
          "ram": {
            "type": "integer",
            "format": "int32"
          },
          "hd": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "CloudServerListResponseDto": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "self": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudServerResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "CloudServerNetworkInterfaceDto": {
        "type": "object",
        "properties": {
          "subnet": {
            "type": "string"
          },
          "macAddress": {
            "type": "string"
          },
          "ips": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "CloudServerPropertiesDto": {
        "type": "object",
        "properties": {
          "dataCenter": {
            "type": "string",
            "description": "For more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."
          },
          "vpc": {
            "$ref": "#/components/schemas/GenericResourceDto"
          },
          "vpcPreset": {
            "type": "boolean"
          },
          "flavorName": {
            "type": "string",
            "description": "For more information, check the <a href=\"${pathFix}/docs/metadata/#cloudserver-flavors\" target=\"_blank\">documentation</a>."
          },
          "elasticIp": {
            "$ref": "#/components/schemas/GenericResourceDto"
          },
          "bootVolume": {
            "$ref": "#/components/schemas/GenericResourceDto",
            "description": "For more information, check the <a href=\"${pathFix}/docs/metadata/#cloud-server-bootvolume\" target=\"_blank\">documentation</a>."
          },
          "keyPair": {
            "$ref": "#/components/schemas/GenericResourceDto"
          },
          "subnets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenericResourceDto"
            }
          },
          "securityGroups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenericResourceDto"
            }
          },
          "userData": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "CloudServerPropertiesDtoCloudServerTypologyExtraInfoResourceExtendedDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "$ref": "#/components/schemas/CloudServerTypologyExtraInfoCategoryDto"
          },
          "location": {
            "$ref": "#/components/schemas/LocationDto"
          },
          "project": {
            "$ref": "#/components/schemas/ProjectDto"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "identity": {
            "$ref": "#/components/schemas/IdentityDto"
          },
          "scope": {
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/CloudServerPropertiesDto"
          },
          "resourceConfiguration": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComponentConfigurationDto"
            }
          },
          "relatesTo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RelatesToDto"
            }
          }
        },
        "additionalProperties": false
      },
      "CloudServerPropertiesDtoDeprecated": {
        "type": "object",
        "properties": {
          "linkedResources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LinkedResourceDto"
            }
          },
          "dataCenter": {
            "type": "string",
            "description": "For more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."
          },
          "vpc": {
            "$ref": "#/components/schemas/GenericResourceDto"
          },
          "vpcPreset": {
            "type": "boolean"
          },
          "template": {
            "$ref": "#/components/schemas/GenericResourceDto"
          },
          "addElasticIp": {
            "type": "boolean"
          },
          "elasticIp": {
            "$ref": "#/components/schemas/GenericResourceDto"
          },
          "keyPair": {
            "$ref": "#/components/schemas/GenericResourceDto"
          },
          "initialPassword": {
            "type": "string"
          },
          "subnets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenericResourceDto"
            }
          },
          "securityGroups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenericResourceDto"
            }
          },
          "volumes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenericResourceDto"
            }
          }
        },
        "additionalProperties": false
      },
      "CloudServerPropertiesResponseDto": {
        "type": "object",
        "properties": {
          "linkedResources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LinkedResourceResponseDto"
            }
          },
          "vpc": {
            "$ref": "#/components/schemas/GenericResourceDto"
          },
          "dataCenter": {
            "type": "string",
            "description": "For more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."
          },
          "flavor": {
            "$ref": "#/components/schemas/CloudServerFlavorDto"
          },
          "bootVolume": {
            "$ref": "#/components/schemas/GenericResourceDto"
          },
          "keyPair": {
            "$ref": "#/components/schemas/GenericResourceDto"
          },
          "networkInterfaces": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudServerNetworkInterfaceDto"
            }
          }
        },
        "additionalProperties": false
      },
      "CloudServerResponseDto": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/MetadataResponseDto"
          },
          "status": {
            "$ref": "#/components/schemas/StatusResponseDto"
          },
          "properties": {
            "$ref": "#/components/schemas/CloudServerPropertiesResponseDto"
          }
        },
        "additionalProperties": false
      },
      "CloudServerSnapshotDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "$ref": "#/components/schemas/CloudServerSnapshotTypologyExtraInfoCategoryDto"
          },
          "location": {
            "$ref": "#/components/schemas/LocationDto"
          },
          "project": {
            "$ref": "#/components/schemas/ProjectDto"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "identity": {
            "$ref": "#/components/schemas/IdentityDto"
          },
          "scope": {
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/CloudServerSnapshotPropertiesDto"
          },
          "resourceConfiguration": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComponentConfigurationDto"
            }
          },
          "relatesTo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RelatesToDto"
            }
          }
        },
        "additionalProperties": false
      },
      "CloudServerSnapshotListResponseDto": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "self": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudServerSnapshotResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "CloudServerSnapshotPropertiesDto": {
        "type": "object",
        "properties": {
          "cloudServer": {
            "$ref": "#/components/schemas/GenericResourceDto"
          }
        },
        "additionalProperties": false
      },
      "CloudServerSnapshotPropertiesDtoCloudServerSnapshotTypologyExtraInfoResourceExtendedDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "$ref": "#/components/schemas/CloudServerSnapshotTypologyExtraInfoCategoryDto"
          },
          "location": {
            "$ref": "#/components/schemas/LocationDto"
          },
          "project": {
            "$ref": "#/components/schemas/ProjectDto"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "identity": {
            "$ref": "#/components/schemas/IdentityDto"
          },
          "scope": {
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/CloudServerSnapshotPropertiesDto"
          },
          "resourceConfiguration": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComponentConfigurationDto"
            }
          },
          "relatesTo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RelatesToDto"
            }
          }
        },
        "additionalProperties": false
      },
      "CloudServerSnapshotPropertiesResponseDto": {
        "type": "object",
        "properties": {
          "linkedResources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LinkedResourceResponseDto"
            }
          },
          "cloudServer": {
            "$ref": "#/components/schemas/GenericResourceDto"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "CloudServerSnapshotResponseDto": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/MetadataResponseDto"
          },
          "status": {
            "$ref": "#/components/schemas/StatusResponseDto"
          },
          "properties": {
            "$ref": "#/components/schemas/CloudServerSnapshotPropertiesResponseDto"
          }
        },
        "additionalProperties": false
      },
      "CloudServerSnapshotTypologyExtraInfo": {
        "type": "object",
        "additionalProperties": false
      },
      "CloudServerSnapshotTypologyExtraInfoCategoryDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "typology": {
            "$ref": "#/components/schemas/CloudServerSnapshotTypologyExtraInfoTypologyDto"
          }
        },
        "additionalProperties": false
      },
      "CloudServerSnapshotTypologyExtraInfoTypologyDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "controllerName": {
            "type": "string"
          },
          "limitResourceAvailableForLocation": {
            "type": "integer",
            "format": "int32"
          },
          "extraInfo": {
            "$ref": "#/components/schemas/CloudServerSnapshotTypologyExtraInfo"
          },
          "parents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParentTypologyDto"
            }
          }
        },
        "additionalProperties": false
      },
      "CloudServerTypologyExtraInfo": {
        "type": "object",
        "properties": {
          "extraInfoProperties": {
            "$ref": "#/components/schemas/CloudServerExtraInfoProperties"
          }
        },
        "additionalProperties": false
      },
      "CloudServerTypologyExtraInfoCategoryDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "typology": {
            "$ref": "#/components/schemas/CloudServerTypologyExtraInfoTypologyDto"
          }
        },
        "additionalProperties": false
      },
      "CloudServerTypologyExtraInfoTypologyDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "controllerName": {
            "type": "string"
          },
          "limitResourceAvailableForLocation": {
            "type": "integer",
            "format": "int32"
          },
          "extraInfo": {
            "$ref": "#/components/schemas/CloudServerTypologyExtraInfo"
          },
          "parents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParentTypologyDto"
            }
          }
        },
        "additionalProperties": false
      },
      "CloudServerUpdateDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "$ref": "#/components/schemas/CloudServerTypologyExtraInfoCategoryDto"
          },
          "location": {
            "$ref": "#/components/schemas/LocationDto"
          },
          "project": {
            "$ref": "#/components/schemas/ProjectDto"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "identity": {
            "$ref": "#/components/schemas/IdentityDto"
          },
          "scope": {
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/CloudServerUpdatePropertiesDto"
          }
        },
        "additionalProperties": false
      },
      "CloudServerUpdatePropertiesDto": {
        "type": "object",
        "properties": {
          "linkedResources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LinkedResourceDto"
            }
          }
        },
        "additionalProperties": false
      },
      "CloudServerVolume": {
        "type": "object",
        "properties": {
          "maxCloudServerVolumesCount": {
            "type": "integer",
            "format": "int32"
          },
          "minCloudServerVolumeSize": {
            "type": "integer",
            "format": "int32"
          },
          "maxCloudServerVolumeSize": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "ComponentConfigurationDto": {
        "type": "object",
        "properties": {
          "typology": {
            "type": "string"
          },
          "attributes": {}
        },
        "additionalProperties": false
      },
      "ConsoleUrlDto": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "token": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "DataCenterDto": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "allowedServices": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "DisableMode": {
        "enum": [
          "Manual",
          "Automatic"
        ],
        "type": "string"
      },
      "DisableReason": {
        "enum": [
          "Spamming",
          "NoCredit",
          "SQLInjection",
          "Phishing",
          "UnauthorizedStolenCredentialsAccess",
          "Virus",
          "CopyrightViolation",
          "OtherAttackTypes"
        ],
        "type": "string"
      },
      "DisableRequestDto": {
        "type": "object",
        "properties": {
          "reason": {
            "$ref": "#/components/schemas/DisableReason"
          },
          "mode": {
            "$ref": "#/components/schemas/DisableMode"
          },
          "note": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "DisableStatusInfoResponseDto": {
        "type": "object",
        "properties": {
          "isDisabled": {
            "type": "boolean"
          },
          "reasons": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "previousStatus": {
            "$ref": "#/components/schemas/PreviousStatusResponseDto"
          }
        },
        "additionalProperties": false
      },
      "EcommerceDto": {
        "type": "object",
        "properties": {
          "subscriptionServices": {
            "$ref": "#/components/schemas/SubscriptionServicesDto"
          },
          "productCatalog": {
            "$ref": "#/components/schemas/ProductCatalogDto"
          },
          "project": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "EcommerceResponseDto": {
        "type": "object",
        "properties": {
          "subscriptionServices": {
            "$ref": "#/components/schemas/SubscriptionServicesResponseDto"
          }
        },
        "additionalProperties": false
      },
      "GenericResourceDto": {
        "type": "object",
        "properties": {
          "uri": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "IdentityDto": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "account": {
            "type": "string"
          },
          "tenant": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "groupMembership": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "currency": {
            "type": "string"
          },
          "azp": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "KeyPairDto": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/MetadataDto"
          },
          "properties": {
            "$ref": "#/components/schemas/KeyPairPropertiesDto"
          }
        },
        "additionalProperties": false
      },
      "KeyPairPropertiesDto": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "KeyPairPropertiesResponseDto": {
        "type": "object",
        "properties": {
          "linkedResources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LinkedResourceResponseDto"
            }
          },
          "value": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "KeyPairResponseDto": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/MetadataResponseDto"
          },
          "status": {
            "$ref": "#/components/schemas/StatusResponseDto"
          },
          "properties": {
            "$ref": "#/components/schemas/KeyPairPropertiesResponseDto"
          }
        },
        "additionalProperties": false
      },
      "KeyPairTypologyExtraInfo": {
        "type": "object",
        "additionalProperties": false
      },
      "KeyPairTypologyExtraInfoCategoryDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "typology": {
            "$ref": "#/components/schemas/KeyPairTypologyExtraInfoTypologyDto"
          }
        },
        "additionalProperties": false
      },
      "KeyPairTypologyExtraInfoTypologyDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "controllerName": {
            "type": "string"
          },
          "limitResourceAvailableForLocation": {
            "type": "integer",
            "format": "int32"
          },
          "extraInfo": {
            "$ref": "#/components/schemas/KeyPairTypologyExtraInfo"
          },
          "parents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParentTypologyDto"
            }
          }
        },
        "additionalProperties": false
      },
      "LinkedResourceDto": {
        "type": "object",
        "properties": {
          "uri": {
            "type": "string",
            "description": "Uri of the resource to link"
          }
        },
        "additionalProperties": false,
        "description": "Linked resource"
      },
      "LinkedResourceResponseDto": {
        "type": "object",
        "properties": {
          "uri": {
            "type": "string"
          },
          "strictCorrelation": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "LocationDto": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "Value of the region in which the resource will be located.\r\nAvailable regions at present:\r\n- ITBG-Bergamo\n\nFor more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."
          }
        },
        "additionalProperties": false,
        "description": "Contains information about the Region of a resource"
      },
      "LocationResponseDto": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "MetadataResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "uri": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/LocationResponseDto"
          },
          "project": {
            "$ref": "#/components/schemas/ProjectResponseDto"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "category": {
            "$ref": "#/components/schemas/CategoryResponseDto"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string"
          },
          "updateDate": {
            "type": "string",
            "format": "date-time"
          },
          "updatedBy": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "createdUser": {
            "type": "string"
          },
          "updatedUser": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "OperativeSystem": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/OsType"
          },
          "username": {
            "type": "string"
          },
          "family": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "OperativeSystemDto": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/OsType"
          },
          "username": {
            "type": "string"
          },
          "family": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "OsType": {
        "enum": [
          "Linux",
          "Windows"
        ],
        "type": "string"
      },
      "ParentTypologyDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "PreviousStatusResponseDto": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "PricingPlanDto": {
        "type": "object",
        "properties": {
          "productPlan": {
            "$ref": "#/components/schemas/ProductPlanDto"
          },
          "productPlanPhases": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductPlanPhasesDto"
            }
          }
        },
        "additionalProperties": false
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          }
        },
        "additionalProperties": {}
      },
      "ProductAttributeDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ProductCatalogDto": {
        "type": "object",
        "properties": {
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductDto"
            }
          }
        },
        "additionalProperties": false
      },
      "ProductDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "variantId": {
            "type": "string"
          },
          "variantName": {
            "type": "string"
          },
          "categoryName": {
            "type": "string"
          },
          "attributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductAttributeDto"
            }
          },
          "plans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PricingPlanDto"
            }
          },
          "addons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddonDto"
            }
          },
          "extraInfo": {
            "$ref": "#/components/schemas/ProductExtraInfoDto"
          }
        },
        "additionalProperties": false
      },
      "ProductExtraInfoDto": {
        "type": "object",
        "properties": {
          "provisioningProductId": {
            "type": "string"
          },
          "provisioningProductName": {
            "type": "string"
          },
          "trial": {
            "type": "string"
          },
          "osType": {
            "type": "string"
          },
          "typologyId": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ProductPlanDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "productVariantId": {
            "type": "string"
          },
          "displayOrder": {
            "type": "integer",
            "format": "int32"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "additionalProperties": false
      },
      "ProductPlanPhasesDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "fixedPrice": {
            "$ref": "#/components/schemas/ProductPriceDto"
          },
          "billingPeriod": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ProductPriceDto": {
        "type": "object",
        "properties": {
          "price": {
            "type": "number",
            "format": "double"
          },
          "currency": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ProjectDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ProjectResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "RelatesToDto": {
        "type": "object",
        "properties": {
          "typology": {
            "type": "string"
          },
          "uri": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ResourceSizeExtraInfo": {
        "type": "object",
        "properties": {
          "maxCPUSizePerUser": {
            "type": "integer",
            "format": "int32"
          },
          "maxRAMSizePerUser": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "RestoreFromSnapshotDto": {
        "type": "object",
        "properties": {
          "snapshotToRestore": {
            "$ref": "#/components/schemas/GenericResourceDto"
          }
        },
        "additionalProperties": false
      },
      "RestoreFromVolumeDto": {
        "type": "object",
        "properties": {
          "volumeToRestore": {
            "$ref": "#/components/schemas/GenericResourceDto"
          }
        },
        "additionalProperties": false
      },
      "ServiceDto": {
        "type": "object",
        "properties": {
          "initialOrder": {
            "type": "boolean"
          },
          "orderItemId": {
            "type": "string"
          },
          "productVariantId": {
            "type": "string"
          },
          "productPlanId": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/ServiceType"
          },
          "name": {
            "type": "string"
          },
          "serviceId": {
            "type": "string"
          },
          "serviceGroupId": {
            "type": "string"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          },
          "quantity": {
            "type": "integer",
            "format": "int32"
          },
          "resource": {
            "$ref": "#/components/schemas/ServiceResourceDto"
          },
          "extraInfo": {
            "$ref": "#/components/schemas/SubscriptionExtraInfoDto"
          },
          "totalPrice": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "ServiceResourceDto": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ServiceResponseDto": {
        "type": "object",
        "properties": {
          "initialOrder": {
            "type": "boolean"
          },
          "orderItemId": {
            "type": "string"
          },
          "productVariantId": {
            "type": "string"
          },
          "productPlanId": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "serviceId": {
            "type": "string"
          },
          "serviceGroupId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          },
          "quantity": {
            "type": "integer",
            "format": "int32"
          },
          "totalPrice": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "ServiceType": {
        "enum": [
          "Base",
          "Addon"
        ],
        "type": "string"
      },
      "SetPasswordDto": {
        "type": "object",
        "properties": {
          "password": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "SizeRequirements": {
        "type": "object",
        "properties": {
          "cpu": {
            "type": "integer",
            "format": "int32"
          },
          "ram": {
            "type": "integer",
            "format": "int32"
          },
          "hd": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "SizeRequirementsDto": {
        "type": "object",
        "properties": {
          "cpu": {
            "type": "integer",
            "format": "int32"
          },
          "ram": {
            "type": "integer",
            "format": "int32"
          },
          "hd": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "SourceType": {
        "enum": [
          "Linux",
          "Windows",
          "APP"
        ],
        "type": "string"
      },
      "StatusResponseDto": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          },
          "disableStatusInfo": {
            "$ref": "#/components/schemas/DisableStatusInfoResponseDto"
          },
          "failureReason": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "SubscriptionExtraInfoDto": {
        "type": "object",
        "properties": {
          "provisioningProductId": {
            "type": "string"
          },
          "provisioningProductName": {
            "type": "string"
          },
          "dataCenter": {
            "type": "string",
            "description": "For more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."
          }
        },
        "additionalProperties": false
      },
      "SubscriptionServicesDto": {
        "type": "object",
        "properties": {
          "serviceBasketId": {
            "type": "string"
          },
          "subscriptionId": {
            "type": "string"
          },
          "billingContainerId": {
            "type": "string"
          },
          "serviceGroupId": {
            "type": "string"
          },
          "orderId": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "totalPrice": {
            "type": "number",
            "format": "double"
          },
          "plan": {
            "$ref": "#/components/schemas/BillingPlanDto"
          },
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceDto"
            }
          }
        },
        "additionalProperties": false
      },
      "SubscriptionServicesResponseDto": {
        "type": "object",
        "properties": {
          "serviceBasketId": {
            "type": "string"
          },
          "subscriptionId": {
            "type": "string"
          },
          "billingContainerId": {
            "type": "string"
          },
          "serviceGroupId": {
            "type": "string"
          },
          "orderId": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "totalPrice": {
            "type": "number",
            "format": "double"
          },
          "plan": {
            "$ref": "#/components/schemas/BillingPlanResponseDto"
          },
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "minRequirements": {
            "$ref": "#/components/schemas/SizeRequirements"
          },
          "maxRequirements": {
            "$ref": "#/components/schemas/SizeRequirements"
          },
          "defaultRequirements": {
            "$ref": "#/components/schemas/SizeRequirements"
          },
          "enabled": {
            "type": "boolean"
          },
          "allowedLocations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "os": {
            "$ref": "#/components/schemas/OperativeSystem"
          },
          "identificationCode": {
            "type": "string"
          },
          "userData": {
            "type": "string"
          },
          "addons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Addon"
            }
          },
          "sourceType": {
            "$ref": "#/components/schemas/SourceType"
          },
          "createdOn": {
            "type": "string",
            "format": "date-time"
          },
          "lastUpdatedOn": {
            "type": "string",
            "format": "date-time"
          },
          "isDefault": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "TemplateAddonDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "TemplateCreateDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "minRequirements": {
            "$ref": "#/components/schemas/SizeRequirementsDto"
          },
          "maxRequirements": {
            "$ref": "#/components/schemas/SizeRequirementsDto"
          },
          "defaultRequirements": {
            "$ref": "#/components/schemas/SizeRequirementsDto"
          },
          "enabled": {
            "type": "boolean"
          },
          "allowedLocations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "os": {
            "$ref": "#/components/schemas/OperativeSystemDto"
          },
          "identificationCode": {
            "type": "string"
          },
          "userData": {
            "type": "string"
          },
          "addons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TemplateAddonDto"
            }
          },
          "sourceType": {
            "$ref": "#/components/schemas/SourceType"
          },
          "isDefault": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "TemplateDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "minRequirements": {
            "$ref": "#/components/schemas/SizeRequirementsDto"
          },
          "maxRequirements": {
            "$ref": "#/components/schemas/SizeRequirementsDto"
          },
          "defaultRequirements": {
            "$ref": "#/components/schemas/SizeRequirementsDto"
          },
          "enabled": {
            "type": "boolean"
          },
          "allowedLocations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "os": {
            "$ref": "#/components/schemas/OperativeSystemDto"
          },
          "identificationCode": {
            "type": "string"
          },
          "userData": {
            "type": "string"
          },
          "addons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TemplateAddonDto"
            }
          },
          "sourceType": {
            "$ref": "#/components/schemas/SourceType"
          },
          "createdOn": {
            "type": "string",
            "format": "date-time"
          },
          "lastUpdatedOn": {
            "type": "string",
            "format": "date-time"
          },
          "sshEnabled": {
            "type": "boolean"
          },
          "isDefault": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "TemplateListResponseDto": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "self": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          }
        },
        "additionalProperties": false
      },
      "TemplateUpdateDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "minRequirements": {
            "$ref": "#/components/schemas/SizeRequirementsDto"
          },
          "maxRequirements": {
            "$ref": "#/components/schemas/SizeRequirementsDto"
          },
          "defaultRequirements": {
            "$ref": "#/components/schemas/SizeRequirementsDto"
          },
          "enabled": {
            "type": "boolean"
          },
          "allowedLocations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "os": {
            "$ref": "#/components/schemas/OperativeSystemDto"
          },
          "identificationCode": {
            "type": "string"
          },
          "userData": {
            "type": "string"
          },
          "addons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TemplateAddonDto"
            }
          },
          "sourceType": {
            "$ref": "#/components/schemas/SourceType"
          },
          "isDefault": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "TypologyResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "CallBackType": {
        "enum": [
          "Validate",
          "Mutate"
        ],
        "type": "string"
      },
      "CallBackUri": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/CallBackType"
          },
          "uri": {
            "type": "string",
            "format": "uri"
          }
        },
        "additionalProperties": false
      },
      "MetadataDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the resource"
          },
          "location": {
            "$ref": "#/components/schemas/LocationDto"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of tags for the resource"
          }
        },
        "additionalProperties": false,
        "description": "Metadata of the resource"
      },
      "MetadataDtoV2": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the resource"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of tags for the resource"
          }
        },
        "additionalProperties": false,
        "description": "Metadata of the resource"
      },
      "PropertiesBaseDto": {
        "type": "object",
        "properties": {
          "linkedResources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LinkedResourceDto"
            },
            "description": "List of linked resources"
          }
        },
        "additionalProperties": false
      },
      "ProviderConfig": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "uri": {
            "type": "string"
          },
          "providerResourceConfigs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProviderResourceConfig"
            }
          }
        },
        "additionalProperties": false
      },
      "ProviderResourceConfig": {
        "type": "object",
        "properties": {
          "resource": {
            "type": "string"
          },
          "callBackUris": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CallBackUri"
            }
          }
        },
        "additionalProperties": false
      },
      "ResourceBaseDto": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/MetadataDto"
          },
          "properties": {
            "$ref": "#/components/schemas/PropertiesBaseDto"
          }
        },
        "additionalProperties": false,
        "description": "Classe base del full paylod di una risorsa con tipizzazione a object delle custom properties\r\ne delle extra info della tipologia"
      },
      "ResourceBaseDtoV2": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/MetadataDtoV2"
          },
          "properties": {
            "$ref": "#/components/schemas/PropertiesBaseDto"
          }
        },
        "additionalProperties": false,
        "description": "Classe base del full paylod di una risorsa con tipizzazione a object delle custom properties\r\ne delle extra info della tipologia"
      },
      "CloudServerDto": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/MetadataDto"
          },
          "properties": {
            "$ref": "#/components/schemas/CloudServerPropertiesDto"
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "accessToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "accessToken": []
    }
  ]
}