{
  "openapi": "3.0.1",
  "info": {
    "title": "Aruba.SecurityProvider.Api",
    "description": "Aruba.SecurityProvider.Api HTTP API\n\nDownload the <a href=\"/openapi/security-provider.json\" target=\"_blank\"> OpenAPI file</a>",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.arubacloud.com"
    }
  ],
  "paths": {
    "/projects/{projectId}/providers/Aruba.Security/kms": {
      "post": {
        "tags": [
          "Kms"
        ],
        "summary": "Create Kms",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KmsDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KmsDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KmsDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KmsResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      },
      "get": {
        "tags": [
          "Kms"
        ],
        "summary": "List Kms",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KmsListResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsListResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsListResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    },
    "/projects/{projectId}/providers/Aruba.Security/kms/{id}": {
      "put": {
        "tags": [
          "Kms"
        ],
        "summary": "Update Kms",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KmsDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KmsDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KmsDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KmsResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      },
      "delete": {
        "tags": [
          "Kms"
        ],
        "summary": "Delete Kms",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KmsResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      },
      "get": {
        "tags": [
          "Kms"
        ],
        "summary": "Get Kms",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ignoreDeletedStatus",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KmsResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    },
    "/projects/{projectId}/providers/Aruba.Security/kms/{id}/kmip": {
      "post": {
        "tags": [
          "Kms"
        ],
        "summary": "Create Kmip",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KmipNameDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KmipNameDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KmipNameDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KmsServiceResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsServiceResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsServiceResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      },
      "get": {
        "tags": [
          "Kms"
        ],
        "summary": "List Kmip",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KmipSearchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmipSearchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmipSearchResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    },
    "/projects/{projectId}/providers/Aruba.Security/kms/{id}/kmip/{kmipId}": {
      "put": {
        "tags": [
          "Kms"
        ],
        "summary": "Update Kmip",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kmipId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KmipNameDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KmipNameDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KmipNameDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KmsServiceResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsServiceResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsServiceResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      },
      "delete": {
        "tags": [
          "Kms"
        ],
        "summary": "Delete Kmip",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kmipId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KmsServiceResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsServiceResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsServiceResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      },
      "get": {
        "tags": [
          "Kms"
        ],
        "summary": "Get Kmip",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kmipId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KmsServiceResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsServiceResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsServiceResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    },
    "/projects/{projectId}/providers/Aruba.Security/kms/{id}/kmip/{kmipId}/download": {
      "get": {
        "tags": [
          "Kms"
        ],
        "summary": "Download Kmip certificate",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kmipId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Certificate"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Certificate"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Certificate"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    },
    "/projects/{projectId}/providers/Aruba.Security/kms/{id}/keys/{keyId}": {
      "put": {
        "tags": [
          "Kms"
        ],
        "summary": "Update Key",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KmsKeyEditDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KmsKeyEditDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KmsKeyEditDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KmsKeyResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsKeyResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsKeyResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      },
      "get": {
        "tags": [
          "Kms"
        ],
        "summary": "Get Key",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KmsKeyResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsKeyResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsKeyResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      },
      "delete": {
        "tags": [
          "Kms"
        ],
        "summary": "Delete Key",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KmsKeyResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsKeyResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsKeyResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    },
    "/projects/{projectId}/providers/Aruba.Security/kms/{id}/keys": {
      "get": {
        "tags": [
          "Kms"
        ],
        "summary": "List Keys",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KeySearchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeySearchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeySearchResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      },
      "post": {
        "tags": [
          "Kms"
        ],
        "summary": "Create Key",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KmsKeyAddDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KmsKeyAddDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KmsKeyAddDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KmsKeyResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsKeyResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KmsKeyResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "APIDOC": true
      }
    }
  },
  "components": {
    "schemas": {
      "AddonDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "productName": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "plans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PricingPlanDto"
            }
          },
          "extraInfo": {
            "$ref": "#/components/schemas/ProductExtraInfoDto"
          }
        },
        "additionalProperties": false
      },
      "BillingPlanDto": {
        "type": "object",
        "properties": {
          "billingPeriod": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "BillingPlanResponseDto": {
        "type": "object",
        "properties": {
          "billingPeriod": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "CategoryDto`1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "typology": {
            "$ref": "#/components/schemas/TypologyDto`1"
          }
        },
        "additionalProperties": false
      },
      "CategoryResponseDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "typology": {
            "$ref": "#/components/schemas/TypologyResponseDto"
          }
        },
        "additionalProperties": false
      },
      "Certificate": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Certificate key"
          },
          "cert": {
            "type": "string",
            "description": "Certificate"
          }
        },
        "additionalProperties": false
      },
      "DataCenterDto": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "allowedServices": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "DisableReason": {
        "enum": [
          "Spamming",
          "NoCredit",
          "SQLInjection",
          "Phishing",
          "UnauthorizedStolenCredentialsAccess",
          "Virus",
          "CopyrightViolation",
          "OtherAttackTypes"
        ],
        "type": "string"
      },
      "DisableStatusInfoResponseDto": {
        "type": "object",
        "properties": {
          "isDisabled": {
            "type": "boolean"
          },
          "reasons": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "previousStatus": {
            "$ref": "#/components/schemas/PreviousStatusResponseDto"
          }
        },
        "additionalProperties": false
      },
      "EcommerceDto": {
        "type": "object",
        "properties": {
          "subscriptionServices": {
            "$ref": "#/components/schemas/SubscriptionServicesDto"
          },
          "productCatalog": {
            "$ref": "#/components/schemas/ProductCatalogDto"
          },
          "project": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "EcommerceResponseDto": {
        "type": "object",
        "properties": {
          "subscriptionServices": {
            "$ref": "#/components/schemas/SubscriptionServicesResponseDto"
          }
        },
        "additionalProperties": false
      },
      "FullPayload.LinkedResourceDto": {
        "type": "object",
        "properties": {
          "uri": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "FullPayload.LocationDto": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "dataCenters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataCenterDto"
            }
          },
          "unavailable": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "FullPayload.ProjectDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "IdentityDto": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "account": {
            "type": "string"
          },
          "tenant": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "groupMembership": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "currency": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "KeyAlgorithms": {
        "enum": [
          "Aes",
          "Rsa"
        ],
        "type": "string"
      },
      "KeyCreationSource": {
        "enum": [
          "Cmp",
          "Other"
        ],
        "type": "string"
      },
      "KeySearchResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "self": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KmsKeyResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "KeyStatuses": {
        "enum": [
          "Active",
          "InCreation",
          "Deleting",
          "Deleted",
          "Failed"
        ],
        "type": "string"
      },
      "KeyTypes": {
        "enum": [
          "Symmetric",
          "Asymmetric"
        ],
        "type": "string"
      },
      "KmipDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Kms service id"
          },
          "name": {
            "type": "string",
            "description": "Kms service name"
          },
          "status": {
            "$ref": "#/components/schemas/ServiceStatuses"
          },
          "type": {
            "type": "string",
            "description": "Kms service type"
          },
          "creationDate": {
            "type": "string",
            "description": "Kms service creation date",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "KmipNameDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Kms service name"
          }
        },
        "additionalProperties": false
      },
      "KmipSearchResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "self": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KmipDto"
            }
          }
        },
        "additionalProperties": false
      },
      "KmsDisableDto": {
        "type": "object",
        "properties": {
          "reason": {
            "$ref": "#/components/schemas/DisableReason"
          },
          "note": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "KmsDto": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/MetadataDto"
          },
          "properties": {
            "$ref": "#/components/schemas/KmsPropertiesDto"
          }
        },
        "additionalProperties": false
      },
      "KmsEnableDto": {
        "type": "object",
        "properties": {
          "reason": {
            "$ref": "#/components/schemas/DisableReason"
          },
          "note": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "KmsKeyAddDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Kms key name"
          },
          "algorithm": {
            "$ref": "#/components/schemas/KeyAlgorithms"
          }
        },
        "additionalProperties": false
      },
      "KmsKeyEditDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Kms key name"
          }
        },
        "additionalProperties": false
      },
      "KmsKeyResponseDto": {
        "type": "object",
        "properties": {
          "keyId": {
            "type": "string",
            "description": "Kms key id"
          },
          "privateKeyId": {
            "type": "string",
            "description": "Kms Private key id"
          },
          "name": {
            "type": "string",
            "description": "Kms key name"
          },
          "algorithm": {
            "$ref": "#/components/schemas/KeyAlgorithms"
          },
          "creationSource": {
            "$ref": "#/components/schemas/KeyCreationSource"
          },
          "type": {
            "$ref": "#/components/schemas/KeyTypes"
          },
          "status": {
            "$ref": "#/components/schemas/KeyStatuses"
          }
        },
        "additionalProperties": false
      },
      "KmsKmipValidateDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Kms service name"
          }
        },
        "additionalProperties": false
      },
      "KmsListResponseDto": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "self": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KmsResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "KmsPropertiesDto": {
        "type": "object",
        "properties": {
          "billingPeriod": {
            "type": "string",
            "description": "The billing period for kms. Only Hour is a valid value"
          }
        },
        "additionalProperties": false
      },
      "KmsPropertiesResponseDto": {
        "type": "object",
        "properties": {
          "billingPeriod": {
            "type": "string",
            "description": "The billing period for kms. Only Hour is a valid value"
          }
        },
        "additionalProperties": false
      },
      "KmsResponseDto": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/MetadataResponseDto"
          },
          "status": {
            "$ref": "#/components/schemas/StatusResponseDto"
          },
          "properties": {
            "$ref": "#/components/schemas/KmsPropertiesResponseDto"
          }
        },
        "additionalProperties": false
      },
      "KmsServiceResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Kms service id"
          },
          "name": {
            "type": "string",
            "description": "Kms service name"
          },
          "type": {
            "type": "string",
            "description": "Kms service type"
          },
          "status": {
            "$ref": "#/components/schemas/ServiceStatuses"
          },
          "creationDate": {
            "type": "string",
            "description": "Kms service creation date",
            "format": "date-time"
          },
          "deletionDate": {
            "type": "string",
            "description": "Kms service deletion date",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "KmsTypologyExtraInfo": {
        "type": "object",
        "additionalProperties": false
      },
      "LinkedResourceResponseDto": {
        "type": "object",
        "properties": {
          "uri": {
            "type": "string"
          },
          "strictCorrelation": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "LocationResponseDto": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "MetadataDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the resource"
          },
          "location": {
            "$ref": "#/components/schemas/LocationDto"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of tags for the resource"
          }
        },
        "additionalProperties": false,
        "description": "Metadata of the resource"
      },
      "MetadataResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "uri": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/LocationResponseDto"
          },
          "project": {
            "$ref": "#/components/schemas/ProjectResponseDto"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "category": {
            "$ref": "#/components/schemas/CategoryResponseDto"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string"
          },
          "updateDate": {
            "type": "string",
            "format": "date-time"
          },
          "updatedBy": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ParentTypologyDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "PreviousStatusResponseDto": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "PricingPlanDto": {
        "type": "object",
        "properties": {
          "productPlan": {
            "$ref": "#/components/schemas/ProductPlanDto"
          },
          "productPlanPhases": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductPlanPhasesDto"
            }
          }
        },
        "additionalProperties": false
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          }
        },
        "additionalProperties": {}
      },
      "ProductAttributeDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ProductCatalogDto": {
        "type": "object",
        "properties": {
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductDto"
            }
          }
        },
        "additionalProperties": false
      },
      "ProductDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "variantId": {
            "type": "string"
          },
          "variantName": {
            "type": "string"
          },
          "categoryName": {
            "type": "string"
          },
          "attributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductAttributeDto"
            }
          },
          "plans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PricingPlanDto"
            }
          },
          "addons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddonDto"
            }
          },
          "extraInfo": {
            "$ref": "#/components/schemas/ProductExtraInfoDto"
          }
        },
        "additionalProperties": false
      },
      "ProductExtraInfoDto": {
        "type": "object",
        "properties": {
          "provisioningProductId": {
            "type": "string"
          },
          "provisioningProductName": {
            "type": "string"
          },
          "trial": {
            "type": "string"
          },
          "osType": {
            "type": "string"
          },
          "typologyId": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ProductPlanDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "productVariantId": {
            "type": "string"
          },
          "displayOrder": {
            "type": "integer",
            "format": "int32"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "additionalProperties": false
      },
      "ProductPlanPhasesDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "fixedPrice": {
            "$ref": "#/components/schemas/ProductPriceDto"
          },
          "billingPeriod": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ProductPriceDto": {
        "type": "object",
        "properties": {
          "price": {
            "type": "number",
            "format": "double"
          },
          "currency": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ProjectResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ServiceDto": {
        "type": "object",
        "properties": {
          "initialOrder": {
            "type": "boolean"
          },
          "orderItemId": {
            "type": "string"
          },
          "productVariantId": {
            "type": "string"
          },
          "productPlanId": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/ServiceType"
          },
          "name": {
            "type": "string"
          },
          "serviceId": {
            "type": "string"
          },
          "serviceGroupId": {
            "type": "string"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          },
          "quantity": {
            "type": "integer",
            "format": "int32"
          },
          "resource": {
            "$ref": "#/components/schemas/ServiceResourceDto"
          },
          "extraInfo": {
            "$ref": "#/components/schemas/SubscriptionExtraInfoDto"
          },
          "totalPrice": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "ServiceResourceDto": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ServiceResponseDto": {
        "type": "object",
        "properties": {
          "initialOrder": {
            "type": "boolean"
          },
          "orderItemId": {
            "type": "string"
          },
          "productVariantId": {
            "type": "string"
          },
          "productPlanId": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "serviceId": {
            "type": "string"
          },
          "serviceGroupId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          },
          "quantity": {
            "type": "integer",
            "format": "int32"
          },
          "totalPrice": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "ServiceStatuses": {
        "enum": [
          "InCreation",
          "Active",
          "Updating",
          "Deleting",
          "Deleted",
          "Failed",
          "CertificateAvailable"
        ],
        "type": "string"
      },
      "ServiceType": {
        "enum": [
          "Base",
          "Addon"
        ],
        "type": "string"
      },
      "StatusResponseDto": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          },
          "disableStatusInfo": {
            "$ref": "#/components/schemas/DisableStatusInfoResponseDto"
          },
          "failureReason": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "SubscriptionExtraInfoDto": {
        "type": "object",
        "properties": {
          "provisioningProductId": {
            "type": "string"
          },
          "provisioningProductName": {
            "type": "string"
          },
          "dataCenter": {
            "type": "string",
            "description": "For more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."
          }
        },
        "additionalProperties": false
      },
      "SubscriptionServicesDto": {
        "type": "object",
        "properties": {
          "serviceBasketId": {
            "type": "string"
          },
          "subscriptionId": {
            "type": "string"
          },
          "billingContainerId": {
            "type": "string"
          },
          "serviceGroupId": {
            "type": "string"
          },
          "orderId": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "totalPrice": {
            "type": "number",
            "format": "double"
          },
          "plan": {
            "$ref": "#/components/schemas/BillingPlanDto"
          },
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceDto"
            }
          }
        },
        "additionalProperties": false
      },
      "SubscriptionServicesResponseDto": {
        "type": "object",
        "properties": {
          "serviceBasketId": {
            "type": "string"
          },
          "subscriptionId": {
            "type": "string"
          },
          "billingContainerId": {
            "type": "string"
          },
          "serviceGroupId": {
            "type": "string"
          },
          "orderId": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "totalPrice": {
            "type": "number",
            "format": "double"
          },
          "plan": {
            "$ref": "#/components/schemas/BillingPlanResponseDto"
          },
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceResponseDto"
            }
          }
        },
        "additionalProperties": false
      },
      "TypologyDto`1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "controllerName": {
            "type": "string"
          },
          "limitResourceAvailableForLocation": {
            "type": "integer",
            "format": "int32"
          },
          "extraInfo": {
            "$ref": "#/components/schemas/KmsTypologyExtraInfo"
          },
          "parents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParentTypologyDto"
            }
          }
        },
        "additionalProperties": false
      },
      "TypologyResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "UserKmsDto": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/MetadataDto"
          },
          "properties": {
            "$ref": "#/components/schemas/UserKmsPropertiesDto"
          }
        },
        "additionalProperties": false
      },
      "UserKmsPropertiesDto": {
        "type": "object",
        "properties": {
          "billingPeriod": {
            "type": "string",
            "description": "The billing period for kms. Only Hour is a valid value"
          }
        },
        "additionalProperties": false
      },
      "UserPayload.LocationDto": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "CallBackType": {
        "enum": [
          "Validate",
          "Mutate"
        ],
        "type": "string"
      },
      "CallBackUri": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/CallBackType"
          },
          "uri": {
            "type": "string",
            "format": "uri"
          }
        },
        "additionalProperties": false
      },
      "LinkedResourceDto": {
        "type": "object",
        "properties": {
          "uri": {
            "type": "string",
            "description": "Uri of the resource to link"
          }
        },
        "additionalProperties": false,
        "description": "Linked resource"
      },
      "LocationDto": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "Value of the region in which the resource will be located.\r\nAvailable regions at present:\r\n- ITBG-Bergamo\n\nFor more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."
          }
        },
        "additionalProperties": false,
        "description": "Contains information about the Region of a resource"
      },
      "MetadataDtoV2": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the resource"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of tags for the resource"
          }
        },
        "additionalProperties": false,
        "description": "Metadata of the resource"
      },
      "PropertiesBaseDto": {
        "type": "object",
        "properties": {
          "linkedResources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LinkedResourceDto"
            },
            "description": "List of linked resources"
          }
        },
        "additionalProperties": false
      },
      "ProviderConfig": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "uri": {
            "type": "string"
          },
          "providerResourceConfigs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProviderResourceConfig"
            }
          }
        },
        "additionalProperties": false
      },
      "ProviderResourceConfig": {
        "type": "object",
        "properties": {
          "resource": {
            "type": "string"
          },
          "callBackUris": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CallBackUri"
            }
          }
        },
        "additionalProperties": false
      },
      "ResourceBaseDto": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/MetadataDto"
          },
          "properties": {
            "$ref": "#/components/schemas/PropertiesBaseDto"
          }
        },
        "additionalProperties": false,
        "description": "Classe base del full paylod di una risorsa con tipizzazione a object delle custom properties\r\ne delle extra info della tipologia"
      },
      "ResourceBaseDtoV2": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/MetadataDtoV2"
          },
          "properties": {
            "$ref": "#/components/schemas/PropertiesBaseDto"
          }
        },
        "additionalProperties": false,
        "description": "Classe base del full paylod di una risorsa con tipizzazione a object delle custom properties\r\ne delle extra info della tipologia"
      }
    },
    "securitySchemes": {
      "accessToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "accessToken": []
    }
  ]
}